<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Orinoco est une boutique en ligne de vente de caméras vintages.">
    <meta name="robots" content="index, follow">

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;500;600;700;900&display=swap" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    <title>Orinoco - Vente en ligne de caméras vintages</title>

</head>

<body>

    <header>
        <h1 id="titre-principal">Orinoco</h1>
        <h2 id="titre-secondaire">Vente en ligne de caméras vintages</h2>
    </header>


    <section id="catalogue" class="partie_camera"></section>

    <footer>
        <section id="footer" class="footer_catalogue">
            <div class="informations">
                <ul>
                    <li><a href="#">Qui sommes nous ?</a></li>
                    <li><a href="#">Mentions légales</a></li>
                    <li><a href="#">Conditions générales</a></li>
                </ul>
            </div>
        </section>
    </footer>

    <script src="index.js"></script>

</body>

</html>