<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Orinoco est une boutique en ligne de vente de caméras vintages.">
    <meta name="robots" content="index, follow">

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;500;600;700;900&display=swap"
        rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    <title>Orinoco - Vente en ligne de caméras vintages</title>

</head>

<body>

    <header>
        <h1><a href='index.html'>Orinoco</a></h1>
        <h2>Vente en ligne de caméras vintages</h2>

        <nav>
            <a href="index.html">Accueil</a>
            <a href="panier.html">Panier</a>
        </nav>
    </header>

    <section id="selection_panier">
        <h3 class="recap_panier">Récapitulatif de votre panier</h3>

    </section>

    <form method="POST" action="" id="order">
        <h3>Formulaire de validation</h3>
        <p>
            <label for="nom">Nom</label> :
            <input type="text" name="nom" id="nom" required placeholder="nom">
        </p>
        <p>
            <label for="prenom">Prénom</label> :
            <input type="text" name="prenom" id="prenom" required placeholder="prénom">
        </p>
        <p>
            <label for="courriel">Courriel</label> :
            <input type="email" name="courriel" id="courriel" required placeholder="utilisateur@domaine.fr">
        </p>
        <p>
            <label for="adresse">Adresse</label> :
            <input type="adresse" name="adresse" id="adresse" required placeholder="18 rue d'alsace">
        </p>
        <p>
            <label for="code postal">Code postal</label> :
            <input type="number" name="codepostal" id="codepostal" required placeholder="78100">
        </p>
        <p>
            <label for="ville">Ville</label> :
            <input type="text" name="ville" id="ville" required placeholder="Saint Germain en Laye">
        </p>
        <input type="submit" value="Envoyer" id="envoyerReponse">
        <input type="reset" value="Annuler">
    </form>

    <footer>
        <section id="footer" class="footer_catalogue">
            <div class="informations">
                <ul>
                    <li><a href="#">Qui sommes nous ?</a></li>
                    <li><a href="#">Mentions légales</a></li>
                    <li><a href="#">Conditions générales</a></li>
                </ul>
            </div>
        </section>
    </footer>

    <script src="panier.js"></script>

</body>

</html>