<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Orinoco est une boutique en ligne de vente de caméras vintages.">
    <meta name="robots" content="index, follow">

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;500;600;700;900&display=swap"
        rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    <title>Orinoco - Vente en ligne de caméras vintages</title>

</head>

<body>

    <header>
        <h1><a href='index.html'>Orinoco</a></h1>
        <h2>Vente en ligne de caméras vintages</h2>

        <nav>
            <a href="index.html">Accueil</a>
            <a href="panier.html">Panier</a>
        </nav>
    </header>

    <section id="selection_panier">
        <h3>Récapitulatif de votre panier</h3>
        <div id="info_panier">            
            <img id="photo" src="">
            <div id="id"></div>
            <div id="name"></div>
            <div id="price"></div>
            <div id="description"></div>
        </div>
    </section>

    <button id="validation_panier"><a href="confirmation-de-commande.html">Confirmer votre commande</a></button>

    <footer>
        <section id="footer" class="footer_catalogue">
            <div class="informations">
                <ul>
                    <li><a href="#">Qui sommes nous ?</a></li>
                    <li><a href="#">Mentions légales</a></li>
                    <li><a href="#">Conditions générales</a></li>
                </ul>
            </div>
        </section>
    </footer>

    <script src="panier.js"></script>

</body>

</html>